* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}
.awesome
  .pricing
  .feedback
  .axure-design
  .awesome-footer
  .contact
  .axit-header
  .axit-fullscreen
  .social-media {
  max-width: 100%;
}

.conteiner {
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}

h1 {
  color: #ffffff;
  font-family: Raleway;
  font-size: 2.25rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  padding-top: 108px;
  color: #212121;
  text-transform: uppercase;
}

h3 {
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: #333333;
  margin-bottom: 25px;
}

.awesome__title::after,
.pricing__title::after,
.axure-design__title::after,
.feedback__title::after,
.contact__title::after,
.axit-main-title::after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background-color: #ffa254;
  margin: 30px auto 30px;
}

p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: normal;
  line-height: normal;
}
a {
  text-decoration: none;
}
/* header */
.axit-header {
  max-width: 100%;
  background-color: #000000;
}
.header_conteiner {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.axit_logo {
  width: 79px;
  height: 27px;
  margin: 22px 0;
}
.nav_item {
  opacity: 0.69;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.87rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
.nav_item:hover {
  color: #ffa254;
}

.nav_item:active {
  list-style-type: none;
}
.navigation_panel {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 441px;
  margin-left: 15px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* full screen */
.conteiner-full {
  width: 100%;
  max-width: 1170px;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.axit-fullscreen {
  width: 100%;
  min-height: calc(100vh - 71px);
  background: url(../images/image.png) rgba(5, 5, 5, 1);
  background-position: center;
  background-size: cover;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.axit-fullscreen_main {
  width: 512px;
}

.axit-fullscreen_logo {
  width: 175px;
  height: 60px;
  margin-bottom: 33px;
}

.axit-main-title {
  text-align: left;
  margin-bottom: 36px;
}

.axit-main-title::after {
  content: "";
  display: block;
  background-color: #ffffff;
  margin: 30px auto 30px 0;
}
.axit-main-text {
  text-align: left;
  margin-bottom: 36px;
}
.axit-main-description {
  opacity: 0.8;
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 44px;
  margin-top: 82px;
}

.axit-main-button {
  outline: none;
  display: block;
  background: transparent;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.937rem;
  font-weight: 400;
  padding: 15px 33px 14px 31px;
  border: 2px solid #ffffff;
  /* margin: 44px 225px 0 0; */
}
.axit-main-button:hover {
  color: #ff8b38;
  border: 2px solid #ff8b38;
}

/* registration form */
.registration_title {
  text-transform: capitalize;
  background-color: #f5f5f5;
  text-align: center;
  vertical-align: middle;
  line-height: 54px;
  border-radius: 5px 5px 0 0;
}

.free {
  color: #ff8b38;
  text-transform: uppercase;
}
.registration-form {
  width: 360px;
  margin: 0 0 0 30px;
  background-color: #ffffff;
  border-radius: 5px;
  /* border-radius: ; */
}
.registration-form_group {
  width: 360px;
  padding: 29px 45px 49px 45px;
}
input {
  height: 31px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
input::-ms-input-placeholder,
input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-family: "OpenSans";
  font-size: 0.87rem;
  text-align: left;
}
.registration-form_name {
  margin-bottom: 36px;
  width: 280px;
}

.registration-form_email {
  margin-bottom: 47px;
  width: 280px;
}
.registration-form_password {
  width: 280px;
}
.registration-form-button {
  display: block;
  width: 360px;
  border-radius: 0 0 5px 5px;
  outline: none;
  border: none;
  background: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.937rem;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 20px;
}
.registration-form-button:hover {
  background: #86878b;
}

/* social media */
.social-media {
  border-bottom: solid 2px #f5f5f5;
}
.social-media_conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.social-media__text {
  width: 360px;
  padding: 12px 0;
}
.social-media_panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 500px;
  justify-content: space-between;
}
.social-media__title {
  height: 17px;
  text-align: left;
  margin-bottom: 12px;
}
.social-media__description {
  text-align: left;
}
/* tabs */

.tabs-section {
  background-color: #f5f5f5;
}

.tabs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 148px;
  margin-bottom: 114px;
}

.tabs {
  width: 112px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.tabOne,
.tabTwo,
.tabThree {
  height: 113px;
  width: 113px;
  background-color: #333333;
}

.tabOne {
  background-color: #ff8b38;
  border-radius: 5% 5% 0 0;
}

.tabTwo {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.tabThree {
  border-radius: 0 0 5% 5%;
}

.tab-text {
  display: block;
  margin-top: 49px;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.937rem;
  text-transform: uppercase;
}

.tabs-text {
  margin-top: 20px;
}

.tabs-info {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 899px;
  margin: auto;
}

.tabs-info__text {
  max-width: 476px;
  width: 100%;
}
.tabs-info__button {
  min-width: 121px;
  outline: none;
  border: none;
  display: block;
  background: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.937rem;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 16px 25px 17px 25px;
  margin: 50px auto 24px 0;
}
.tabs-info__description,
.tabs-info__title {
  text-align: left;
}

.tabs-info__title {
  margin-top: 8px;
  margin-bottom: 52px;
}
.tab-info__image {
  margin-left: 10px;
  width: 320px;
  height: 253px;
}
/* awesome */

.awesome-card_img {
  width: 70px;
  height: 70px;
  border: 2px solid #ffa254;
  border-radius: 100px;
  margin-bottom: 29px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awesome-card__item {
  width: 350px;
  margin-bottom: 105px;
  margin-top: 80px;
  margin-left: 15px;
  margin-right: 15px;
}

.awesome__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* price */

.pricing-section {
  background-color: #f5f5f5;
}

.pricing__description {
  margin-bottom: 80px;
}

.pricing__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  margin: 0 -20px;
}
.pricing_card {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 96px;
}
.price-title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  line-height: 59px;
  border-bottom: 1px solid #ffffff;
}
.price {
  border-bottom: 1px solid #ffffff;
  text-align: center;
}
.pricing__card_price {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 5.87rem;
  font-weight: 700;
  line-height: 100px;
}

.dollar {
  font-size: 2.187rem;
  vertical-align: bottom;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.price-description {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans";
  font-size: 0.87rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  line-height: 51px;
  border-bottom: 5px solid #ff8b38;
}

.price-benefit {
  width: 343px;
  background-color: #ffffff;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 0.87rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #f5f5f5;
}
.price-description,
.price,
.price-title {
  width: 343px;
  background-color: #333333;
}

.price-popular {
  width: 343px;
  line-height: 40px;
  background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.87rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* feedback */

.feedback-cards {
  margin-bottom: 90px;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -60px;
  margin-right: -60px;
}
.feedback-card_item {
  width: 273px;
  margin: 0 60px 10px 60px;
}
.comment {
  position: relative;
}

.comment_text {
  background-color: #f5f5f5;
  padding: 24px 13px 30px 12px;
  border-radius: 3px;
  text-align: left;
  font-style: italic;
}
.comment_text::after {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-top: 18px solid #f5f5f5;
  display: block;
  width: 0;
  height: 0;
  top: 145px;
  left: 20px;
}
.persone {
  margin-top: 22px;
  margin-left: 2px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.persone_image {
  width: 70px;
  height: 70px;
}
.persone_data {
  margin-left: 15px;
  margin-top: 17px;
}
.persone_name {
  margin-bottom: 8px;
  text-align: left;
}

.persone_occupation {
  text-align: left;
}
/* axure-design */
.axure-design {
  position: relative;
}
.axure-design_conteiner {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../images/u25_state0.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 63px;
}
.axure-design_conteiner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(5, 5, 5, 0.7);
  z-index: 0;
}

.axure-design__title {
  color: #ffffff;
  padding-top: 74px;
  position: relative;
  z-index: 1;
}

.axure-design__title::after {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.axure-design__description {
  font-family: Raleway;
  color: #ffffff;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 33px;
}

.axure-design__button {
  outline: none;
  display: block;
  background: transparent;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.937rem;
  font-weight: 400;
  padding: 15px 33px 14px 31px;
  border: 2px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  position: relative;
  z-index: 1;
}
.axure-design__button:hover {
  color: #ff8b38;
  border: 2px solid #ff8b38;
}
.axure-design__button:focus {
  color: #f31414;
}
/* contact us */
.contact__description {
  margin-bottom: 80px;
}
.contact-form_button {
  width: 148px;
  outline: none;
  border: none;
  display: block;
  background: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.937rem;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 15px 22px 15px 24px;
  margin: 80px auto 50px;
}

.contact-form_button:hover {
  background: #cccccc;
}
/* contact form */
.contact-form {
  max-width: 1117px;
  margin: 0 auto;
}

.contact-form_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px auto;
}
.contact-form_group {
  margin-right: 10px;
  margin-left: 10px;
}
.contact-form_name,
.contact-form_email,
.contact-form_subject,
.contact-form_message {
  width: 450px;
  margin-bottom: 30px;
}
.contact-message {
  height: 300px;
  margin-right: 10px;
  margin-left: 10px;
}

.contact-form_name,
.contact-form_email,
.contact-form_subject {
  height: 31px;
}

textarea {
  height: 153px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
/* footer */
.awesome-footer {
  background: #000000;
  max-width: 100%;
}

.footer-conteiner {
  background-color: #000000;
}
.footer_copiright_text {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  opacity: 0.5;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.footer_nav {
  max-width: 1170px;
}
.footer_panel__media {
  margin: 0 auto;
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 317px;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-top: 38px;
  text-align: center;
}
i {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  color: #cccccc;
}
i:hover {
  color: #ff8b38;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .conteiner {
    max-width: 1170px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .conteiner {
    max-width: 1170px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .conteiner {
    max-width: 100%;
  }
  html {
    font-size: 15px;
  }

  .conteiner-full {
    display: block;
  }
  .awesome__title::after,
  .pricing__title::after,
  .axure-design__title::after,
  .feedback__title::after,
  .contact__title::after,
  .axit-main-title::after {
    margin: 25px auto 25px;
  }
  .axit-fullscreen_main {
    margin: 15px auto 15px;
  }
  .axit-main-title,
  .axit-main-text {
    text-align: center;
  }

  .social-media__title,
  .social-media__description {
    text-align: center;
  }
  .registration-form,
  .axit-fullscreen_logo {
    margin: auto;
  }
  .axit-main-button {
    margin: 44px auto 44px;
  }

  .axit-main-text {
    color: #ffffff;
    font-weight: 700;
  }

  .feedback-card_item {
    margin-bottom: 100px;
  }
  .social-media_nav,
  .social-media__text {
    margin: 0 auto;
  }

  .social-media__title,
  .social-media__description {
    text-align: center;
  }

  .comment_text::after {
    content: "";
    position: absolute;
    top: 123px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .conteiner {
    max-width: 100%;
  }
  html {
    font-size: 14px;
  }

  .conteiner-full {
    display: block;
  }
  .awesome__title::after,
  .pricing__title::after,
  .axure-design__title::after,
  .feedback__title::after,
  .contact__title::after,
  .axit-main-title::after {
    margin: 20px auto 20px;
  }

  .axit-main-title,
  .axit-main-text {
    text-align: center;
  }

  .axit-main-button {
    margin: 44px auto 44px;
  }

  .axit-main-text {
    color: #ffffff;
    font-weight: 700;
  }

  .feedback-card_item {
    margin-bottom: 90px;
  }

  .social-media_panel {
    width: 540px;
    margin: 0 auto;
  }

  .social-media__title,
  .social-media__description {
    text-align: center;
  }

  .comment_text::after {
    content: "";
    position: absolute;
    top: 118px;
  }

  .contact-form_name,
  .contact-form_email,
  .contact-form_subject,
  .contact-form_message {
    width: 100%;
    min-width: 550px;
    margin-bottom: 20px;
  }
  .contact-form_items,
  .contact-form_group {
    width: 100%;
    min-width: 550px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .conteiner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  html {
    font-size: 19px;
  }

  .axit_logo {
    margin: 15px 0;
  }

  .conteiner-full {
    display: block;
  }
  .axit-fullscreen_main {
    max-width: 512px;
    width: 100%;
  }
  .social-media__text,
  .axit-fullscreen_logo,
  .axit-fullscreen_main,
  .registration-form,
  .social-media_nav {
    margin: 0 auto;
  }
  .axit-main-button {
    margin: 44px auto 44px;
  }
  .axit-main-title,
  .axit-main-text {
    text-align: center;
  }
  .axit-main-title {
    font-size: 1rem;
  }
  .axit-main-text {
    color: #ffffff;
  }
  .axit-main-title::after {
    display: none;
  }

  .axit-main-description {
    margin-top: 44px;
  }

  .axit-fullscreen_registration {
    margin: 0 auto;
    margin-top: 44px;
  }
  .social-media_panel {
    min-width: 300px;
    width: 100%;
  }
  .social-media_nav {
    min-width: 300px;
    width: 100%;
  }
  .social-media__text {
    margin: 12px auto 12px;
  }

  .social-media__title,
  .social-media__description {
    text-align: center;
  }
  .awesome__cards {
    display: block;
  }

  .awesome-card__item {
    margin: 50px auto 80px;
  }
  .pricing__content {
    display: block;
  }

  .pricing_card {
    margin: 0 auto;
  }
  .basic,
  .Professional,
  .Enterprise {
    width: 300px;
    margin: 0 auto;
  }
  .feedback-cards {
    display: block;
  }
  .feedback-card_item {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  .comment {
    width: 300px;
  }

  .comment_text {
    font-size: 1.25rem;
  }

  .comment_text::after {
    content: "";
    position: absolute;
    top: 278px;
  }
  .contact-form_button {
    margin: 30px auto 30px;
  }
  .contact-message {
    height: 200px;
  }
  .axure-design_conteiner {
    padding-bottom: 30px;
  }
  .awesome__title::after,
  .pricing__title::after,
  .axure-design__title::after,
  .feedback__title::after,
  .contact__title::after,
  .axit-main-title::after {
    margin: 15px auto 15px;
  }

  .registration-form_group {
    width: 300px;
    padding: 29px 25px 49px 25px;
  }
  .registration-form,
  .registration-form-button {
    max-width: 300px;
  }

  .contact-form_button {
    width: 100%;
    min-width: 300px;
  }
  .registration-form_name,
  .registration-form_email,
  .registration-form_password {
    width: 250px;
  }
  .contact-form_name,
  .contact-form_email,
  .contact-form_subject,
  .contact-form_message {
    min-width: 300px;
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-message,
  .contact-form,
  .contact-form_items,
  .contact-form_group {
    width: 100%;
    min-width: 300px;
  }
  .social-media {
    font-size: 1rem;
  }

  .price-title,
  .price,
  .price-description,
  .price-benefit,
  .price-popular {
    width: 300px;
  }

  .axit-header {
    display: none;
  }

  .tabOne,
  .tabTwo,
  .tabThree {
    height: 250px;
    width: 250px;
    background-color: #333333;
  }
  .tabTwo,
  .tabOne,
  .tabThree {
    border-radius: 5%;
  }
  .tabOne {
    background-color: #ff8b38;
  }

  .tab-info__image {
    display: none;
  }
  .tabs-info__button {
    min-width: 300px;
    width: 100%;
    outline: none;
    border: none;
    display: block;
    background: #ff8b38;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 0.937rem;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 16px 25px 17px 25px;
    margin: 20px auto;
  }

  .tabs-info__title,
  .tabs-info__description {
    text-align: center;
  }
  .tabs-info__text {
    margin: 20px auto;
  }
}

@media (max-width: 524.98px) {
  .navigation_panel {
    display: none;
  }
}
@media (max-width: 699.98px) and (min-width: 599.98px) {
  .contact-form_name,
  .contact-form_email,
  .contact-form_subject,
  .contact-form_message {
    width: 250px;
    margin-bottom: 30px;
  }
}

@media (max-width: 799.98px) and (min-width: 767.98px) {
  .contact-form_name,
  .contact-form_email,
  .contact-form_subject,
  .contact-form_message {
    width: 300px;
  }
}
@media (max-width: 899.98px) and (min-width: 799.98px) {
  .contact-form_name,
  .contact-form_email,
  .contact-form_subject,
  .contact-form_message {
    width: 350px;
  }
}
@media (max-width: 999.98px) and (min-width: 899.98px) {
  .contact-form_name,
  .contact-form_email,
  .contact-form_subject,
  .contact-form_message {
    width: 400px;
  }
}

@media (max-width: 1023.98px) {
  .social-media_nav {
    width: 550px;
  }
}

@media (max-width: 1070.98px) {
  .tabs {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    justify-content: space-between;
  }
  .tabOne,
  .tabTwo,
  .tabThree {
    height: 113px;
    width: 113px;
    background-color: #333333;
  }
  .tabTwo,
  .tabOne,
  .tabThree {
    border-radius: 5%;
  }
  .tabOne {
    background-color: #ff8b38;
  }

  .tabs-info__title,
  .tabs-info__description {
    text-align: center;
  }
  .tabs-info__text {
    margin: 20px auto;
  }
  .tabs-info__button {
    display: block;
    margin: 50px auto 24px;
  }
}
@media (max-width: 435.98px) {
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tabOne,
  .tabTwo,
  .tabThree {
    height: 250px;
    width: 250px;
    margin: 20px auto;
  }

  .tab-text {
    font-size: 2rem;
  }

  .tab-text {
    margin-top: 105px;
  }
}
