@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

.awesome {
  width: 100%;
}
.conteiner {
  max-width: 1400px;
  background-color: #ffffff;
}
h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  padding-top: 108px;
  margin-bottom: 30px;
  color: #212121;
}

.line {
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  margin-right: 668px;
  margin-left: 668px;
  margin-bottom: 30px;
}

p {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: normal;
  line-height: 20px;
}

.advantages_sphere {
  width: 70px;
  height: 70px;
  border: 2px solid #ffa254;
  border-radius: 100px;
  margin-bottom: 29px;
  margin-right: 140px;
  margin-left: 140px;
}

.advantages__item {
  width: 350px;
  margin-bottom: 105px;
  margin-top: 80px;
}

h3 {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #333333;
  padding-bottom: 25px;
}

#advantage_1 {
  margin-left: 143px;
  margin-right: 32px;
}

#advantage_3 {
  margin-left: 32px;
  margin-right: 143px;
}

.advantages {
  display: flex;
}

figure.advantages_bulb-pic {
  margin-top: 21px;
  text-align: center;
}
figure.advantages_keyboard-pic {
  margin-top: 24px;
  text-align: center;
}
figure.advantages_lightning-pic {
  margin-top: 19px;
  text-align: center;
}
